.menu{
    background-color: rgb(54, 104, 211);
    height: 50px;
    width: 100%;
    border-bottom: black 2px solid;
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
}
.herf{
    text-decoration: none;
    color: black;
}
.tlo{
    height: auto;
}
.tyt{
    text-align: center;
}
.brdr{
    overflow: hidden;
    width: 40%;
    float: left;
}
.zdj3{
    width: 100%;
    height: auto;
    float: left;
    margin-right: 15px;
    margin-top: 12px;
}
.zdj1{
    width: 40%;
    height: 400px;
    float: left;
    margin-right: 15px;
    margin-top: 12px;
}
.pause{
    height: 0px;
}
.txt1{
    font-size: 30px;
}
.zdj2{
    width: 100%;
    height: 400px;
    float: right;
}
.btn1{
    float: right;
}
.btn2{
    float: left;
}
.anim1{
    transition: 2s;
}
.anim1:hover{
    transform: scale(1.2);
    overflow: hidden;
}
.tlo{
    animation-name: animacja;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.clr{
    animation-name: animacja2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes animacja{
    0% {background-color: rgb(0, 255, 42);}
    25% {background-color: rgb(225, 236, 62);}
    50% {background-color: rgb(8, 239, 255);}
    75% {background-color: rgb(212, 109, 204);}
    100% {background-color: rgb(0, 255, 42);}
}
@keyframes animacja2{
    0% {color: rgb(0, 255, 42);}
    25% {color: rgb(225, 236, 62);}
    50% {color: rgb(8, 239, 255);}
    75% {color: rgb(212, 109, 204);}
    100% {color: rgb(0, 255, 42);}
}

